---
import { getCollection } from "astro:content"
import { sortPosts, filterEnPost } from "../utils/posts-helper"
import Anchor from "./Anchor.astro"

const collections = await getCollection("blog")
const filtered = filterEnPost(collections)
const posts = sortPosts(filtered)
const newestPosts = posts.slice(0, 3)
const firstPost = newestPosts[0]
const restPosts = newestPosts.slice(1)
---

<section id="blog" class="justify-center flex flex-col">
  <div class="mx-auto w-full lg:w-256 py-4 px-4 md:py-12">
    <div
      class="w-full flex flex-col md:flex-row text-center gap-0 md:gap-4 text-2xl md:text-5xl font-semibold"
    >
      <h1 class="mb-4">#Blog</h1>
    </div>
    <main class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div
        class="post bg-no-repeat bg-cover rounded-lg group first-post opacity-0"
      >
        <div
          class="flex flex-col justify-end md:text-gray-200 p-0 md:p-4 pb-4 h-full md:rounded-lg md:backdrop-brightness-50 md:group-hover:backdrop-blur-sm border-b border-white md:border-b-0"
        >
          <a href={`/blog/${firstPost.id}/`} class="group w-full">
            <h2
              class="font-semibold text-md md:text-2xl mb-2 group-hover:underline underline-offset-4"
            >
              {firstPost.data.title}
            </h2>
            <p class="text-sm">
              {firstPost.data.description}
            </p>
          </a>
          <div class="flex gap-2 my-2 flex-wrap">
            {
              firstPost.data.tags.map((tag: string) => (
                <a
                  href={`/tags/${tag}`}
                  class="text-xs md:text-sm hover:underline underline-offset-2"
                >
                  #{tag}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4">
        {
          restPosts.map((post) => (
            <div class="post border-b border-white pb-4 opacity-0">
              <a href={`/blog/${post.id}/`} class="group w-full">
                <h2 class="font-semibold text-md md:text-2xl mb-2 group-hover:underline underline-offset-4">
                  {post.data.title}
                </h2>
                <p class="text-sm">{post.data.description}</p>
              </a>
              <div class="flex gap-2 my-2 flex-wrap">
                {post.data.tags.map((tag: string) => (
                  <a
                    href={`/tags/${tag}`}
                    class="text-xs md:text-sm hover:underline underline-offset-2"
                  >
                    #{tag}
                  </a>
                ))}
              </div>
            </div>
          ))
        }
        <content class="text-md md:text-xl mt-2 flex justify-end gap-2 w-full">
          <Anchor href="/blog" icon="mdi:chevron-double-right"
            >Discover Other Posts</Anchor
          >
        </content>
      </div>
    </main>
  </div>
</section>

<style define:vars={{ "first-image": `url("${firstPost.data.heroImage}")` }}>
  .first-post {
    @media screen and (min-width: 768px) {
      background-image: var(--first-image);
    }
  }
</style>
